# Output files
*.txt
*.pgn

# Reference material
Reference/
Issues/
results/

# Text editor backup files
*~

# Code::Blocks files
genetic chess.cbp
genetic chess.depend
genetic chess.layout
genetic chess.cscope_file_list
CppCheckResults.xml

# MS Visual Studio files
.vs/
enc_temp_folder/

# Compiled output
bin/
obj/

# Other files
*.png
octave-workspace
*.out
*.ipch
*.db
*.filters
*.user
*.obj
*.log
*.tlog
*.pdb
*.ilk
*.enc
*.idb
*.exe
*.opendb
*.cd
*.swp
*.zip
*.old
*.aux
*.fls
*.fdb_latexmk
*.toc
*.bak
*.gz
*.xml
*.lastcodeanalysissucceeded
*.pyperf
