# Output files
*.txt
*.pgn

# Reference material
Reference/
Issues/

# Text editor backup files
*~

# Code::Blocks files
genetic chess.cbp
genetic chess.depend
genetic chess.layout
genetic chess.cscope_file_list
CppCheckResults.xml

# Compiled output
bin/
obj/

# Other files
*.py
*.m
*.png
octave-workspace
*.out
*.ipch
*.sln
*.db
*.vcxproj
*.filters
*.user
.vs/
*.obj
*.log
*.tlog
*.pdb
*.ilk
*.enc
*.idb
*.exe
*.opendb
*.cd
*.swp
*.zip
*.old
*.aux
*.fls
*.fdb_latexmk
*.toc
*.gz
